.container {
  margin: 20px;
  padding: 20px;
  background-color: aliceblue;
  border: 1px solid lightskyblue;
  display: flex;
  gap: 10px;
  border-radius: 6px;
}
h4, p {
    margin: 0;
}
.userImg {
    width: 50px;
    border-radius: 50%;
}
h4 {
    font-weight: 400;
    font-size: 1.3rem;
}
h4 span {
    font-size: 80%;
    color: #666;
}